Django>=4.2,<5.0
crispy-bootstrap4>=2022.1
django-crispy-forms>=2.0
Pillow>=10.0.0
python-dotenv>=1.0.0
PyPDF2>=3.0.0

# Biblioteki do wizualizacji
django-chartjs>=2.3.0
pandas>=2.0.0

openpyxl==3.1.2
XlsxWriter==3.1.9
reportlab>=4.0.0
